# Merge csv files on Country key (clean_slavery_index, gdp_per_capita, access_to_education)

Load final csv file to df and clean columns/rows/datatypes (check just in case)
#final_df.to_csv(r'C:\Users\user\data_analysis_project\visualizing_real_world_data\Data\final_dataset.csv')

Do the correlations for victims_in_1000 based on: gdp_per_capita, access_to_education, violence_index, HDI_rank

1. Do the scatter plots; => 2. Run correlations; => 3. Run the 4 Regressions; => 4. Run OLS1; => 5. Observe low R squared value

# Reduce the sample to the first approx. 30% of the countries by slavery_index

1. Do the scatter plots - part 2; => 2. Run correlations - part 2; 3. Run the 4 Regressions - part 2; 4. Run OLS - part 2 

=> !!5. Hope to GOD R squared si closer to 1 :D!!

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.api as sm

# 1. Load Access to education Dataset

In [2]:
education = pd.read_csv("..//data/access_to_education_index.csv",sep=';')

In [33]:
education.columns

Index(['HDI Rank', 'Country', '1980', '1985', '1990', '1995', '2000', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013'],
      dtype='object')

In [4]:
# 1.2 New Data Frame with selected columns

In [5]:
education_newdf = education[["Country","2013", "HDI Rank"]].copy()
education_newdf.rename(columns={"Country": "country", "2013": "education_access_score", "HDI Rank" : "hdi_rank"}, inplace=True)
education_newdf = education_newdf.replace("..", np.nan)
education_newdf.dropna(inplace=True)
education_newdf["education_access_score"] = education_newdf["education_access_score"].astype("str")
education_newdf["education_access_score"] = education_newdf["education_access_score"].str.replace("," , ".")
education_newdf = education_newdf.astype({"education_access_score" :float})
print(education_newdf, education_newdf.dtypes)

                                country  education_access_score  hdi_rank
0                           Afghanistan                0.365333     169.0
1                               Albania                0.608519      95.0
2                               Algeria                0.642589      93.0
3                               Andorra                0.670287      37.0
4                                Angola                0.474212     149.0
..                                  ...                     ...       ...
190  Venezuela (Bolivarian Republic of)                0.682483      67.0
191                             Vietnam                0.513489     121.0
192                               Yemen                0.339222     154.0
193                              Zambia                0.591333     141.0
194                            Zimbabwe                0.499933     156.0

[187 rows x 3 columns] country                    object
education_access_score    float64
hdi_rank                  float64
dtype: object

# 2. Load Slavery Index Dataset

In [6]:
slavery_index = pd.read_csv("..//Data/clean_slavery_index.csv", header=1)

slavery_index.head()

,Country,"Population \n(from United Nations Population Division, World Population Prospects)",Region,"Est. prevalence of population in modern slavery (victims per 1,000 population)",Est. number of people in modern slavery,Factor One Governance Issues,Factor Two Nourishment and Access,Factor Three Inequality,Factor Four Disenfranchised Groups,Factor Five Effects of Conflict,...,NEG Government complicity (1.4.3),NEG State-imposed forced labour (1.8.1),Address risk,%.3,Supply chains,%.4,SUM/104,SUM Neg,TOTAL,Credit rating
0,"Korea, Democratic People's Republic of","25,244,000",Asia and the Pacific,104.6,"2,640,000",87.6,52.0,30.3,32.4,12.3,...,-1.0,-1.0,0.3,4.8,0.0,0.0,0.4,-2.0,-5.6,D
1,Eritrea,"4,847,000",Africa,93.0,"451,000",71.0,50.6,33.7,48.1,25.9,...,-1.0,-1.0,1.5,21.4,0.0,0.0,1.4,-2.0,-2.0,D
2,Burundi,"10,199,000",Africa,40.0,"408,000",72.4,42.6,42.1,48.1,41.7,...,-1.0,-1.0,1.8,26.2,0.0,0.0,5.0,-2.0,10.7,C
3,Central African Republic,"4,546,000",Africa,22.3,"101,000",85.4,50.2,62.7,58.0,81.6,...,-1.0,0.0,1.5,21.4,0.0,0.0,1.7,-1.0,2.5,D
4,Afghanistan,"33,736,000",Asia and the Pacific,22.2,"749,000",81.0,41.3,64.7,46.0,92.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Remove white space at the end of string

In [7]:
slavery_index.columns = slavery_index.columns.str.strip()
slavery_index.columns

Index(['Country',
       'Population \n(from United Nations Population Division, World Population Prospects)',
       'Region',
       'Est. prevalence of population in modern slavery (victims per 1,000 population)',
       'Est. number of people in modern slavery',
       'Factor One Governance Issues', 'Factor Two Nourishment and Access',
       'Factor Three Inequality', 'Factor Four Disenfranchised Groups',
       'Factor Five Effects of Conflict',
       'Final overall (normalised, weighted) vulnerability score',
       'Support survivors', '%', 'Criminal justice', '%.1', 'Coordination',
       '%.2', 'NEG Government  complicity (1.4.3)',
       'NEG State-imposed forced labour (1.8.1)', 'Address risk', '%.3',
       'Supply chains', '%.4', 'SUM/104', 'SUM Neg', 'TOTAL', 'Credit rating'],
      dtype='object')

# Rename columns

In [8]:
slavery_index.rename(columns={"Est. prevalence of population in modern slavery (victims per 1,000 population)": "victims_per_1000_population"}, inplace=True)
slavery_index = slavery_index.rename({"Country" : "country"},axis=1)
slavery_index.rename(columns={"Population \n(from United Nations Population Division, World Population Prospects)": "total_population"}, inplace=True)

In [9]:
slavery_index["total_population"] = slavery_index["total_population"].astype('str') 
slavery_index["total_population"] = slavery_index["total_population"].str.replace(',','')
slavery_index = slavery_index.astype({"total_population" :float})

In [34]:
slavery_index["Est. number of people in modern slavery"] = slavery_index["Est. number of people in modern slavery"].astype('str')
slavery_index["Est. number of people in modern slavery"] = slavery_index["Est. number of people in modern slavery"].str.replace(",","")
slavery_index["Est. number of people in modern slavery"] = slavery_index["Est. number of people in modern slavery"].str.replace("<","")
slavery_index = slavery_index.astype({"Est. number of people in modern slavery" :float})
slavery_index.columns

Index(['country', 'total_population', 'Region', 'victims_per_1000_population',
       'Est. number of people in modern slavery',
       'Factor One Governance Issues', 'Factor Two Nourishment and Access',
       'Factor Three Inequality', 'Factor Four Disenfranchised Groups',
       'Factor Five Effects of Conflict',
       'Final overall (normalised, weighted) vulnerability score',
       'Support survivors', '%', 'Criminal justice', '%.1', 'Coordination',
       '%.2', 'NEG Government  complicity (1.4.3)',
       'NEG State-imposed forced labour (1.8.1)', 'Address risk', '%.3',
       'Supply chains', '%.4', 'SUM/104', 'SUM Neg', 'TOTAL', 'Credit rating'],
      dtype='object')

# 3. Load GDP Dataset

In [11]:
gdp_df = pd.read_csv("../data/gdp_per_capita.csv")
gdp_df.head()

,Unnamed: 0,Country,gdp_per_capita,victims_per_1000_population,gdp_per_capita2
0,0,Burundi,311.0,40.0,96721.0
1,1,Central African Republic,456.0,22.3,207936.0
2,3,Mauritania,1616.0,21.4,2611456.0
3,4,Pakistan,1608.0,16.8,2585664.0
4,5,Cambodia,1429.0,16.8,2042041.0

# Rename columns names

In [26]:
gdp_df = gdp_df.rename({"Country" : "country"},axis=1)
gdp_df

,Unnamed: 0,country,gdp_per_capita,victims_per_1000_population,gdp_per_capita2
0,0,Burundi,311.0,40.0,9.672100e+04
1,1,Central African Republic,456.0,22.3,2.079360e+05
2,3,Mauritania,1616.0,21.4,2.611456e+06
3,4,Pakistan,1608.0,16.8,2.585664e+06
4,5,Cambodia,1429.0,16.8,2.042041e+06
...,...,...,...,...,...
134,136,Chile,15597.0,0.8,2.432664e+08
135,137,Australia,55888.0,0.6,3.123469e+09
136,138,New Zealand,44511.0,0.6,1.981229e+09
137,139,Canada,45894.0,0.5,2.106259e+09
138,140,Japan,38030.0,0.3,1.446281e+09

# 4. Merge 3 Datasets (Access to education, Slavery Index, GDP)

In [40]:
merge_2dsets = pd.merge(slavery_index, education_newdf,on="country")

In [39]:
merge_3dsets = pd.merge(merge_2dsets, gdp_df, on="country")
merge_3dsets

,country,total_population,Region,victims_per_1000_population_x,Est. number of people in modern slavery,Factor One Governance Issues,Factor Two Nourishment and Access,Factor Three Inequality,Factor Four Disenfranchised Groups,Factor Five Effects of Conflict,...,SUM/104,SUM Neg,TOTAL,Credit rating,education_access_score,hdi_rank,Unnamed: 0,gdp_per_capita,victims_per_1000_population_y,gdp_per_capita2
0,Burundi,10199000.0,Africa,40.0,408000.0,72.4,42.6,42.1,48.1,41.7,...,5.0,-2.0,10.7,C,0.370089,180.0,0,311.0,40.0,9.672100e+04
1,Central African Republic,4546000.0,Africa,22.3,101000.0,85.4,50.2,62.7,58.0,81.6,...,1.7,-1.0,2.5,D,0.317867,185.0,1,456.0,22.3,2.079360e+05
2,Mauritania,4182000.0,Africa,21.4,90000.0,67.3,33.7,39.3,50.5,22.3,...,5.3,-1.0,15.5,C,0.352278,161.0,3,1616.0,21.4,2.611456e+06
3,Pakistan,189381000.0,Asia and the Pacific,16.8,3186000.0,56.8,36.2,45.9,55.3,92.8,...,6.2,-1.0,18.6,C,0.371667,146.0,4,1608.0,16.8,2.585664e+06
4,Cambodia,15518000.0,Asia and the Pacific,16.8,261000.0,66.3,38.5,41.6,56.7,14.8,...,10.5,0.0,37.6,CCC,0.495178,136.0,5,1429.0,16.8,2.042041e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,Chile,17763000.0,Americas,0.8,14000.0,28.5,13.8,50.0,23.5,20.3,...,17.5,0.0,62.3,BBB,0.745675,41.0,136,15597.0,0.8,2.432664e+08
134,Australia,23800000.0,Asia and the Pacific,0.6,15000.0,11.9,15.7,20.7,12.0,13.0,...,17.9,0.0,63.8,BBB,0.926536,2.0,137,55888.0,0.6,3.123469e+09
135,New Zealand,4615000.0,Asia and the Pacific,0.6,3000.0,12.2,18.4,16.2,7.0,7.0,...,16.1,0.0,57.6,BB,0.916767,7.0,138,44511.0,0.6,1.981229e+09
136,Canada,35950000.0,Americas,0.5,17000.0,16.6,20.7,20.1,9.2,21.5,...,16.4,0.0,58.6,BB,0.850300,8.0,139,45894.0,0.5,2.106259e+09
137,Japan,127975000.0,Asia and the Pacific,0.3,37000.0,21.5,13.1,15.5,31.9,17.8,...,11.3,-1.0,36.6,CCC,0.808000,17.0,140,38030.0,0.3,1.446281e+09

In [ ]:
# Drop the NaN values

In [ ]:
df_gdp_new = df_gdp[['Country', 'gdp_2017']].copy()
df_gdp_new.dropna(inplace=True)
df_gdp_new.head()

# Define Regression Function

In [42]:
def run_regression(df, y_col, X_cols):
    y = df[y_col]
    X = df[X_cols]
    X = sm.add_constant(X)
    
    l = sm.OLS(y, X)
    return l.fit()
y_col = "victims_per_1000_population"
run_regression(merge_3dsets, y_col, ["education_access_score", "hdi_rank"]).summary()

KeyError: 'victims_per_1000_population'